<ion-view hide-back-button="true" view-title="Import words">
	<ion-nav-buttons side="right">
	</ion-nav-buttons>
	<ion-content class="import-words-content">
		<ion-list class="">
			<ion-item>
				<button class="button button-positive button-block" ng-click="importWordsLocal(false)">Import Words(Text)</button>
				<button class="button button-positive button-block" ng-click="importWordsLocal(true)">Import Words(JSON)</button>
				<button class="button button-positive button-block" ng-click="importWordsServer(false)">Import From Server(Text)</button>
				<button class="button button-positive button-block" ng-click="importWordsServer(true)">Import From Server(JSON)</button>
				<input type="text" ng-model="server.url" placeholder="Server URL" autofocus>
				<button class="button button-positive button-block" ng-click="openLanguagesModal()">{{ selectedLanguage }}</button>
				<progress max="100" value="{{progressPercent}}"></progress>
				<label ng-if="totalWordsImported"><span>Total {{ totalWordsImported }} words imported</span></label>
			</ion-item>
		</ion-list>
	<ion-content>
</ion-view>