/* Add word */
.list-words-content .list-card {
	border: 1px solid #ddd;
	margin-left: 16px;
	margin-right: 16px;
}

.list-words-content .list {
	padding-top: 0;
}

.word-item {
	border: none;
	background-color: #F7F7F7;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}

.word-item .name {
	font-weight: 500;
	font-size: 25px;
}

.word-item .meaning {
	font-size: 20px;
	line-height: 1.3;
}

.word-item .sentence {
	font-size: 16px;
}

.word-details {
}

.word-item > p {
	background-color: #ddd;
	margin-bottom: 16px;
}

.word-details * {
	white-space: normal !important;
	text-overflow: initial !important;
}

.word-details div{
	display: inline-block;
}

.edit-icon-container {
	float: right;
}

.edit-icon-container button {
	font-size: 25px;
}
/* Add word end */

/*-------- Import file ---------*/
progress[value] {
	/* Reset the default appearance */
	-webkit-appearance: none;
	appearance: none;
	width: 250px;
	height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

/*-------- Import file end------*/
